-r requirements.txt
git+https://github.com/George-Ogden/mirror-rorrim; python_version >= "3.12"
git+https://github.com/George-Ogden/mypy-pytest; python_version >= "3.12"
git+https://github.com/George-Ogden/pytest-dbg; python_version >= "3.11"
inline-snapshot
more-itertools
mypy
numpy
prek
py-spy
pytest>=9.0.0
pytest-timeout
ruff==0.15.11
